.fl {
	font-size: 30px;
	color: black;
	margin-top: 40px;
}
.navbar-right a{
	color: black;
}
.btn1 {
	border-radius: 30px;
	margin-top: 9px;
	width: 180px;
	background-color: rgb(242, 125, 101);
	color: white;
}
.btn1:hover {
	background-color: rgb(93, 144, 226);
	color: white;
}
.row1 {
	 background: linear-gradient(to bottom right, #ff33cc 13%, #0066ff 58%);
	 height: 100vh;
}
.navbar-header {
	padding: 0;
	margin: 0;
}
.section {
	content: 'PORTFOLIO';
	display: inline-block;
	color: black;
	opacity: 0.04;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20rem;
}

.txt1 {
	color: white;
}
.h1 {
	font-size: 55px;
}
.txt1 {
	margin-top: 180px;
}
.img1 {
	margin-top: 180px;
}
.ubt {
	color: rgb(140, 140, 140);
	margin-top: 50px;
}
.txt2 {
	color: black;
	margin-bottom: 30px;
	font-size: 38px;
	font-weight: bold;
}
.fas {
	color: rgb(234, 127, 89);
}
.txt3 {
	color: rgb(140, 140, 140);
	margin-bottom: 80px;
}
 hr {
 	
 	border:2px solid rgb(234, 127, 89);
 	width: 100px;
 }
.row2 div {
	margin-top:50px; 
}
.row2 div i {
	margin-top: 12px;
}
.hvr:hover {
	background: linear-gradient(to bottom right, #ff33cc 13%, #0066ff 58%);

}

.hvr:hover i, .hvr:hover h2, .hvr:hover p {
	color: white;
}
.hvr:hover hr {
	border-color: white;
}
.hvr {
	cursor: pointer;
}
